= form_for(@transform) do |f|
  - if @transform.errors.any?
    #error_explanation
      %h2
        = pluralize(@transform.errors.count, "error")
        prohibited this transform from being saved:
      %ul
        - @transform.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6
      = f.text_field :short_url, placeholder: "input your url here", class: 'form-control'
    .col-md-3
      = f.submit "Get a nicer url", class: 'btn btn-default'
