%p#notice= notice
%h1 Listing Transforms
%table
  %thead
    %tr
      %th Long url
      %th Short url
      %th{:colspan => "3"}
  %tbody
    - @transforms.each do |transform|
      %tr
        %td= transform.long_url
        %td= transform.short_url
        %td= link_to 'Show', transform
        %td= link_to 'Edit', edit_transform_path(transform)
        %td= link_to 'Destroy', transform, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Transform', new_transform_path
