%p#notice= notice
%p
  %strong Long url:
  = @transform.long_url
%p
  %strong Short url:
  = @transform.short_url
= link_to 'Edit', edit_transform_path(@transform)
|
= link_to 'Back', transforms_path
